html,
body,
#app {
    width: 100%;
    height: 100%;
    overflow: hidden;

}

:root {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Microsoft YaHei", "Liberation Mono", "Courier New", monospace;
}